<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src = "summoner.js"></script>
<head>
    <meta charset="UTF-8">
    <title>LeagueOfCancer</title>
    <link rel="stylesheet" href = "style.css">
</head>
<body>
    <div class="main" ng-app="appModule" ng-controller="appController"  >
        <h1>Is that Him?</h1>
        <form class ="addSummoner" ng-submit="pushName()" >

            <input  ng-model = "newName" placeholder="Enter Summoner Name.." class="addText"  >
            <button ng-click="pushName()">Search!</button>

        </form>
        <ul>
            <li ng-repeat="x in recentNames">
                {{x}}
                <span ng-click="deleteName($index)">x</span>
            </li>


        </ul>

    </div>


</body>
</html>